
:root {
  --sidebar-width: 260px;
  --accent-color: #000000;
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: "Inter", sans-serif;
  color: #2d3436;
  margin: 0;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  border-right: 1px solid #eee;
  padding: 25px;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar-heading {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #b2bec3;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 10px;
}

.my-club-item {
  display: flex;

  align-items: center;

  padding: 12px;

  border-radius: 12px;

  text-decoration: none;

  color: #2d3436;

  font-weight: 500;

  transition: 0.2s;

  border: 1px solid #000;

  margin-bottom: 8px;
}

.my-club-item:hover {
  background: #f9f9f9;

  border-color: #eee;

  color: #000;
}

.badge-admin {
  background-color: #000;

  color: #fff;

  font-size: 0.6rem;

  font-weight: 700;

  padding: 4px 8px;

  border-radius: 6px;

  transition: 0.2s;
}

.my-club-item.active-black {
  background-color: #000;

  border: 1px solid #000;

  color: #fff;

  font-weight: 700;
}

.my-club-item.active-black span,
.my-club-item.active-black i {
  color: #fff;
}

.my-club-item.active-black .badge-admin {
  background-color: #000;

  color: #fff;
}

.header-nav {
  margin-left: var(--sidebar-width);
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 25px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border: none;
  color: #636e72;
  font-weight: 700;
  padding: 20px 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.nav-tabs .nav-link.active {
  color: #000 !important;
  border-bottom-color: #000 !important;
  background: transparent !important;
}

.main-content {
  margin-left: var(--sidebar-width);
  padding: 40px;
  min-height: 100vh;
}

.badge-admin {
  background-color: #000;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 6px;
  transition: 0.2s;
}

.active-black .badge-admin {
  background-color: #fff;
  color: #000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border-radius: 20px;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-event {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
